.form-container{
    max-width: 450px;
    width: 350px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}
.form-container-details{
    margin-bottom: 40px;
    text-align: center;
}
.form-container-title{
    color:#555;
    font-size: 40px;
    margin-bottom: 10px;
}
.form-container-subtitle{
    font-size: 30px;
    color: #999;
}

.form-field{
    margin-bottom: 30px;
}
.form-input{
    width:100%;
    padding: 20px 15px;
    border: 0;
    background-color: #f0f0f0;
    border-radius: 5px;
    font-size: 18px;
    color: #555;
    font-weight: 600;
}
.form-submit{
    background-color: #037ef3;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    padding: 20px 15px;
    border-radius: 5px;
    border: 0;
    transition: all 0.8s;
    cursor: pointer;
}
.from-submit:active{
    background-color: wheat;   
}
.form-container-links{
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.form-container-link{
    font-size: 18px;
    font-weight: 400;
}
@media (max-width:600px)
{
    .form-container{
        padding: 30px 25px;
    }
    .form-input, .form-submit{
        padding: 18px 15px;
    }
}