.box{
    justify-content: center;
    display: flex;
}
.form{
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.title{
    color: white;
    text-align: center;
    font-size: 50px;
}
.input-text
{
    color: white;
    margin: 10px 0px;
    padding: 8px 6px;
    font-size: 15px;
}
.btn
{
    color:white;
    margin: 20px;
    padding: 10px 2px;
}
.endtext
{
    text-align: center;
    color: white;
}